<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width+device-width, initial-scale=1">
    
        
    <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button"   data-toggle="collapse"  data-target="#navbar">    
        <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar_collapse" id="navbar">
                <div class="navbar-nav">
                   <a class="nav-item nav-link" id="login" href="/login">Login</a> 
                   <a class="nav-item nav-link" id="sign-up" href="/sign-up">Sign Up</a> 
                   <a class="nav-item nav-link" id="logout" href="/logout">Logout</a> 
                   <a class="nav-item nav-link" id="home" href="/">Home</a> 
                   
                </div>
            </div>
        </nav>
        <div class="container"> {% block content %} {% endblock %}</div>

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    </body>
</html>
